body {
  background-color: rgb(180, 151, 151);
}

section {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}

.card-block {
  width: 100%;
  max-width: 400px;
  height: 100%;
  max-width: 400px;
  margin: 10px;
  background-color: darkseagreen;
  border-radius: 12px;
}
.img-responsive {
  width: 100%;
  max-width: 400px;
  height: 100%;
  max-width: 400px;
  border-radius: 12px 12px 0 0;
}

.bold {
  // font-size: 20px;
}